@import './base.css';

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.icon-button {
  box-shadow: none;
  background: transparent;
  border: none;
}

/* Use this for base HTML element styles */
